<a href="https://colab.research.google.com/github/rghn1340/hello-world/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#getting started with python

In [0]:
print('hello')
for i in range(1,10):
  print(i,end=' ')

hello
1 2 3 4 5 6 7 8 9

#fibonachi

In [0]:
a , b , k = 1, 1, 1
#print(a, b , k)
n = input('Enter mounths: ')
k = input('Enter k: ')
k = int(k)
n = int(n)
for i in range(1, n):
  print(a,end=' ')
  a, b = b , k*a + b

print(a)

Enter mounths: 10
Enter k: 2
1 1 3 5 11 21 43 85 171 341

#loops and iterations

In [0]:
n = 5
print('start')
while n > 0:
  print(n)
  n = n - 1
print('End')

In [0]:
while True:
  l = input('> ')
  if l[0] == '#':
    continue
  if l == 'done':
    break
  print(l)
print('End')

In [6]:
for n in [4,6,8,10]:
  print(n)

4
6
8
10

#maximum and minimum

In [8]:
max = None
min = None
for i in [3,67,54,9,21,7,98,4,5]:
  if max == None or max < i:
    max = i
  if min == None or min > i:
    min = i
print('max =',max,'min =', min)

max = 98 min = 3